append css
  style.
    @media (min-width: 768px) {
      .account-info{
        text-align:center;font-size:16px
      }
    }
//-Navbar
nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") 好电影
    .navbar-collapse.collapse
      ul.nav.navbar-nav(id="nav-addr")
        li
          a(href="/") 主页
        li
          a(href="/list") 列表
        li
          a(href="/about") 关于
      if user
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.glyphicon.glyphicon-user
              strong &nbsp;#{user.name}
              //span.glyphicon.glyphicon-chevron-down
            ul.dropdown-menu(role='menu')
              li
                a.account-info(href="/admin") 后  台
              li.divider
              li
                //.navbar-login.navbar-login-session
                a.account-info(href='/account/logout',style='color:red;') 退  出
      else
        ul.nav.navbar-right.navbar-nav
          li
            a(href='/account/signup') 注册
          li
            a(href='/account/login') 登陆
      ul.nav.navbar-nav.navbar-right
        form#searchbox.navbar-form.navbar-right(action='/search',method='get')
          .input-group
            input.form-control(name='keywords',type='text', placeholder='速度与激情',aria-describedby="sizing-addon2")
            a.input-group-addon.btn(onClick='$("#searchbox").submit()')
              span.glyphicon.glyphicon-search(aria-hidden="true")

